<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Retrocalc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B564CD31F40D1C700D7C547</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B564CE71F40D1C800D7C547</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B564CF21F40D1C800D7C547</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
